.whatIsAikido-modal-dialog {
    height: 20rem;
}

.whatIsAikido-modal-dialog .modal-content {
    position: relative;
    background-image: url('../../pictures/backgrounds/blogBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    top: 1rem;
    right: 40rem;
    width: 112rem;
    height: 54rem;
}

.whatIsAikido-modal-body {
    position: relative;
}

.whatIsAikido-closeIcon {
    position: absolute;
    font-size: 30px;
    top: 0.2rem;
    right: .5rem;
    color: rgb(88, 88, 88);
}

.whatIsAikido-card {
    position: relative;
    top: 1.5rem;
    width: 109.5rem;
    height: 47.5rem;
}

.whatIsAikido-card-title {
    font-size: 30px !important;
}

.whatIsAikido-firstText {
    position: absolute;
    top: 18rem;
    left: 1rem;
    width: 20rem;
    font-size: 20px;
}

.whatIsAikido-img-first-div {
    position: absolute;
    top: 18rem;
    left: 22rem;
    width: 15rem;
    height: auto;
}

.whatIsAikido-img-first {
    border-radius: 5px;
    box-shadow: 0 0.8px 0.9px rgba(0, 0, 0, 0.071), 0 0.2px 2.2px rgba(0, 0, 0, 0.091), 0 -0.6px 3.9px rgba(0, 0, 0, 0.102), 0 -1.2px 6.4px rgba(0, 0, 0, 0.107), 0 -1px 10.6px rgba(0, 0, 0, 0.107), 0 1.2px 18.5px rgba(0, 0, 0, 0.101), 0 16px 40px rgba(0, 0, 0, 0.07);
}

.whatIsAikido-secondText {
    position: absolute;
    top: 7rem;
    left: 8rem;
    width: 50rem;
    font-size: 20px;
}

.whatIsAikido-img-second-div {
    position: absolute;
    top: 7rem;
    left: 58rem;
    width: 15rem;
    height: auto;
}

.whatIsAikido-img-second {
    border-radius: 5px;
    box-shadow: 0 0.8px 0.9px rgba(0, 0, 0, 0.071), 0 0.2px 2.2px rgba(0, 0, 0, 0.091), 0 -0.6px 3.9px rgba(0, 0, 0, 0.102), 0 -1.2px 6.4px rgba(0, 0, 0, 0.107), 0 -1px 10.6px rgba(0, 0, 0, 0.107), 0 1.2px 18.5px rgba(0, 0, 0, 0.101), 0 16px 40px rgba(0, 0, 0, 0.07);
}

.whatIsAikido-thirdText {
    position: absolute;
    top: 34rem;
    left: 15rem;
    width: 65rem;
    font-size: 20px;
}

.whatIsAikido-img-third-div {
    position: absolute;
    top: 34rem;
    left: 81rem;
    width: 21rem;
    height: auto;
}

.whatIsAikido-img-third {
    border-radius: 5px;
    box-shadow: 0 0.8px 0.9px rgba(0, 0, 0, 0.071), 0 0.2px 2.2px rgba(0, 0, 0, 0.091), 0 -0.6px 3.9px rgba(0, 0, 0, 0.102), 0 -1.2px 6.4px rgba(0, 0, 0, 0.107), 0 -1px 10.6px rgba(0, 0, 0, 0.107), 0 1.2px 18.5px rgba(0, 0, 0, 0.101), 0 16px 40px rgba(0, 0, 0, 0.07);
}

.whatIsAikido-fourthText {
    position: absolute;
    top: 22rem;
    left: 41rem;
    width: 45rem;
    font-size: 20px;
}

.whatIsAikido-practiceVideo {
    position: absolute;
    top: 20rem;
    border-radius: 5px;
    left: 87rem;
    width: 21rem;
    height: auto;
    box-shadow: 0 0.8px 0.9px rgba(0, 0, 0, 0.071), 0 0.2px 2.2px rgba(0, 0, 0, 0.091), 0 -0.6px 3.9px rgba(0, 0, 0, 0.102), 0 -1.2px 6.4px rgba(0, 0, 0, 0.107), 0 -1px 10.6px rgba(0, 0, 0, 0.107), 0 1.2px 18.5px rgba(0, 0, 0, 0.101), 0 16px 40px rgba(0, 0, 0, 0.07);
}

/* @media (max-width: 1830px) {
    .whatIsAikido-modal-dialog .modal-content {
        transform: scale(.9);
    }
} */
@media (max-width: 1820px) {
    .whatIsAikido-modal-dialog .modal-content {
        transform: scale(.9);
    }
}
@media (max-width: 1681px) {
    .whatIsAikido-modal-dialog .modal-content {
        transform: scale(.8);
    }
}
@media (max-width: 1446px) {
    .whatIsAikido-modal-dialog .modal-content {
        transform: scale(.7);
    }
}
@media (max-width: 1370px) {

    .whatIsAikido-modal-dialog .modal-content {
        top: -10rem;
        transform: scale(.6);
    }
}
@media (max-width: 1290px) {
    .whatIsAikido-modal-dialog .modal-content {
        top: -10rem;
        transform: scale(.6);
    }
}